<ion-content [fullscreen]="true">
  <section>
    <article></article>
    <article>
      <div></div>
      <div>
        <h1>CredApp</h1>
        <form [formGroup]="formLogin">
          <ion-item lines="none">
            <ion-input
              label="E-mail"
              labelPlacement="stacked"
              placeholder="Digite seu e-mail"
              formControlName="email"
              class="custom"
              aria-label="Email"
              errorText="Informe um e-mail válido"
            ></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input
              labelPlacement="stacked"
              maxlength="50"
              type="password"
              placeholder="Digite sua senha"
              label="Senha"
              class="custom"
              formControlName="senha"
              errorText="Informe uma senha válida"
            >
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
          <ion-button class="ion-margin-top" expand="block" (click)="login()" [disabled]="formLogin.invalid">
            Entrar
          </ion-button>
        </form>
      </div>
      <div class="footer">
        <p>Versão - 1.0.0</p>
      </div>
    </article>
  </section>
</ion-content>
